# Ignore all .config and .cache files
../../.config/*
../../.cache/*
../../.local/*

# Ignore specific folders or files within .config
!../../.config/Code/User/globalStorage/

# Ignore VSCode logs and cache
../../.config/Code/Cache/
../../.config/Code/Crashpad/
../../.config/Code/DawnCache/
../../.config/Code/GPUCache/
../../.config/Code/logs/

# Ignore Google Chrome data
../../.config/google-chrome/

# Ignore snap-related data
../../snap/

# Ignore specific desktop files
../../Desktop/

# Ignore other unrelated project folders
../../recipe project
../../submittask/task

# Ignore Yelp data
../../.config/yelp/
../../.local/share/yelp/

# Ignore indexedDB files for WhatsApp
../../snap/whatsapp-for-linux/

# Ignore Git-specific files
*.log
*.sqlite3-shm
*.sqlite3-wal
*.ldb
*.pma
