<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form method="post" action="{% url 'ipl' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>

    <h1 id="parent">Thank You</h1>
  
  <table>
    <thead>
        <tr>
            <th>Image</th>
        </tr>
    </thead>    
    <tbody>
        {% for i in ipl %}
        <tr>
            <td>
                <img src="{{ i.ipl_image.url }}" alt="IPL Image">

            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
</body>
</html>
