<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    
    <script>
        function displayFileName() {
            const fileInput = document.getElementById('file');
            const fileNameDisplay = document.getElementById('file-name');
            const fileName = fileInput.files[0] ? fileInput.files[0].name : 'No file chosen';
            fileNameDisplay.textContent = fileName;
        }
    </script>
</head>
<body>
    <h1>Vicky Assignment</h1>
  
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Upload Excel/CSV File</label>
        <input type="file" name="file" id="file" onchange="displayFileName()">
        <p>Selected File: <span id="file-name">No file chosen</span></p> 
        <button type="submit">Upload</button>
    </form>

  
</body>
</html>
